name: Format

on:
  push:
    branches:
      - main

jobs:
  format:
    name: Check formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: Check formatting
        run: lune run ./Scripts/CheckFormatting.luau
